.show-password {
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */

.show-password input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: inherit;
  border: 1px solid #787777;
  border-radius: 3px;
}

/* On mouse-over, add a grey background color */

.show-password:hover input~.checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */

.show-password input:checked~.checkmark {
  background-color: inherit;
}

/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.show-password input:checked~.checkmark:after {
  display: block;
}

.show-password .checkmark:after {
  left: 6px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid #f7f7f7;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media(min-width: 500px) {
  .checkmark {
    height: 30px;
    width: 29px;
  }
  .show-password .checkmark:after {
    width: 9px;
    height: 16px;
    left: 8px;
    top: 2px;
  }
}